[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GEEaSPU"]
	path = GEEaSPU
	url = https://github.com/cran/GEEaSPU
[submodule "POMaSPU"]
	path = POMaSPU
	url = https://github.com/cran/POMaSPU
